<div class="container">
    <br />
    <br />

    <div class="row">

        <span>Question Text:</span>
        <editable class="card-container" id={{model.question.name}} (update)="updateQuestion()">
            <ng-template viewMode>{{model.question.text}}</ng-template>
            <ng-template editMode>
                <textarea rows="5" cols="50" [formControl]=questionCtl focusable editableOnEnter></textarea>
            </ng-template>
        </editable>

        <br />

        <span>Instructions:</span>
        <editable class="card-container" (update)="updateInstr()">
            <ng-template viewMode>{{model.question.instructions}}</ng-template>
            <ng-template editMode>
                <input style="width:300px" [formControl]=instrCtl focusable editableOnEnter>
            </ng-template>
        </editable>

        <br />
        <button (click)='addOption(-1)'>Add Option</button>
        <br />
        <br />

        <div class="row col-sm" *ngFor="let entity of model.question.rows;index as index">
            <input id="{{entity.name}}" type="{{controlType}}" style="float:left" class="custom-control-input " value="{{entity.name}} " name="punch ">
            <editable class="card-container" id={{entity.name}} style="width:350px" (enter)="enterClick(index)" (update)="updateField(index, 'text') ">
                <ng-template viewMode>
                    <button (click)='deleteOption(index)'>Delete</button> {{entity.text}}
                </ng-template>
                <ng-template editMode>
                    <input style="width:300px" [formControl]="getControl(index, 'text')" focusable editableOnEnter>
                </ng-template>
            </editable>

        </div>

    </div>
</div>