<div class="container">

    <span>Question Editor</span>
    <br />
    <br />

    <div class="row">

        <span>Question Text</span>
        <editable class="card-container" id={{model.question.name}} (update)="updateQuestion()">
            <ng-template viewMode>{{model.question.text}}</ng-template>
            <ng-template editMode>
                <textarea rows="5" cols="50" [formControl]=questionCtl focusable></textarea>
            </ng-template>
        </editable>

        <br />

        <editable class="card-container" (update)="updateInstr()">
            <ng-template viewMode>{{model.question.instructions}}</ng-template>
            <ng-template editMode>
                <input style="width:300px" [formControl]=instrCtl focusable editableOnEnter>
            </ng-template>
        </editable>

    </div>

    <br />
    <br />

    <div class="card-container">
        <input style="width:50px">
    </div>

</div>