/* You can add global styles to this file, and also import other style files */

.card-container:hover {
    cursor: pointer;
    color: #125699;
    background-color: #e4f1f8;
    border-radius: 10px;
    box-shadow: 0 4px 17px rgba(36, 33, 33, 0.35);
    transition: 1s ease-out;
}

.card-container textarea,
.card-container input {
    outline: none;
    border-radius: 10px;
    background-color: #fafafa;
    border: 2px solid #007ac0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    overflow: hidden;
    z-index: 11000;
}