<div>
    <div style="float:left;min-width: 400px;">

        <button (click)="onSaveJson()" type="button">Save Json</button>

        <ng-container *ngIf="form">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <label for="qTypes">Question Types: </label>
                <select formControlName="qTypes" id="qTypes" (ngModelChange)="changeQType($event)">
          <option *ngFor="let qType of qTypes; let i = index" [value]="qType.nk">
            {{qType.name}}
          </option>
        </select>
                <button type="submit">Submit</button>
            </form>

            <div>
                <ng-template #InputDynamicInsert></ng-template>

            </div>


        </ng-container>

    </div>

    <div id="json-editor" ace-editor [(text)]="jsonData" [mode]="'json'" [options]="options" [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="1000" style="min-height: 500px; max-height: 500px; width:50%; overflow: auto;">
    </div>


</div>
<br />

<br />